#top-bar,
#top-bar div h3 {
  background-color: #d9aefb;
  color: black;
}
#main {
  background-color: greenyellow;
}
.clearFloats {
  clear: both;
}

.center-block {
  display: flex;

  background-color: greenyellow;
  border: greenyellow;
}

.btnupgrade {
  background-color: #98ede7;
}

.btnbuy {
  background-color: gold;
}
